{% extends "anon_template.html" %}

{% block body %}
<div style="margin:3%;">
	<h2><i>Agora</i></h2>
	<p><i>noun. (in ancient Greece) a public open space used for assemblies and markets.</i></p>
	<br>
	<h5>Welcome to <i>Agora</i> a forum dedicated to helping students with homework, while still encouraging them to learn on their own...</h5>
	<p><i>Agora</i> is a SM Hacks II project by Marley, Claire, Noelle, and Ashley.</p>
	<br>
	<div class="alert alert-info" role="alert">"While it is not a real site, I believe if it were, Agora would help me get ahead in math, a subject where I struggle" -Freddy</div>
	<div class="alert alert-info" role="alert">"I give 27 stars out of 5 to this sacred gift for students everywhere" -Freddy Jr.</div>
	<div class="alert alert-info" role="alert">"What better way to spend my time that doing homework problems and providing hints to the peers I know and love? Certainly not T.V.!" -Harry</div>
</div>
{% endblock %}
