<!DOCTYPE html>
<html>
	<head>
		<title>SMHacks2 Project</title>
		<link rel="stylesheet" href="{{url_for('static', filename='styles/bootstrap.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/theme.css')}}">
	</head>
	<body>
		<div style="background-color:#ececec;">
		<ul class="nav justify-content-end">
			<li class="nav-item">
				<a class="nav-link active" href="/dashboard">Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="/forum">Forum</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/add_class">Add Class</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/logout">Logout</a>
			</li>
		</ul>
		</div>
		<br>
		{% block body %}
		{% endblock %}
	</body>
