<!DOCTYPE html>
<html>
	<head>
		<title>SMHacks2 Project</title>
		<link rel="stylesheet" href="{{url_for('static', filename='styles/bootstrap.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/theme.css')}}">
	</head>
	<body>
		<div style="background-color:#ececec;">
		<ul class="nav justify-content-end">
			<li class="nav-item">
				<a class="nav-link active" href="#">Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="#">Forum</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Notifications</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Settings</a>
			</li>
		</ul>
		</div>
	</body>
